
/**Custom font **/
@font-face {
	font-family: "Logo-font";
    src: url(fonts/KGKeepYourHeadUp.ttf);
}

body {
	color: #737373;
	font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	font-weight: 400;
	z-index:1;
	background: transparent url("../img/tex1.jpg") repeat scroll 0% 0%;
	overflow: auto;
}

.login-style {
    margin-bottom: 0px;
}
.header{
	font-size:16px;
	font-weight:600;
	position:fixed; 
	top:15px;
}
.left{
	position:fixed; 
	left:15px;
}
.right{
	position:fixed; 
	right:15px;
}
.logo{
	position: relative;
	font-size:245px;
	color: #E06060;
	margin-top:50px;
	margin-bottom:30px;
	text-align:center;
}
/* Form Module */
.form-module {
	position: relative;
	width: 750px;
	height: auto;
	border-top: 6px solid #E06060;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
	margin: 0 auto;
	background-color: #ffffff;
}
.form-module input {	
	width: 305px;
}
.form-module label {	
	width: 305px;
}
.form-module form{
	margin-left:-38px;
}
.form-module hr{
	margin-left:-2px;
	width: 665px;
}
.form-module .toggle {
	cursor: pointer;
	position: absolute;
	top: -0;
	right: -0;
	background: #E06060;
	width: 40px;
	height: 40px;
	margin: 0;
	color: #ffffff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 0px;
  right: -94px;
  display: block;
  background: #fff;
  color: #E06060;
  width: auto;
  padding: 10px;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  opacity:1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 7px;
  left: -7px;
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}
.form-module .form-toggle {
	display: block;
	padding: 40px;
}
.footer{
	position: relative;
	margin: 0 auto;
	font-size:15px;
	margin-top: 63px;
	text-align: center;
}
