RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/*$ ./index.php
RewriteRule ^index$ ./index.php
RewriteRule ^team$ ./team.php
RewriteRule ^organizer$ ./organizer.php
RewriteRule ^login$ ./php_includes/login.php
RewriteRule ^logout$ ./php_includes/logout.php
ErrorDocument 404 /php_includes/404.php
